:root {
    --font-family: "Roboto";
}

.banner {
    background-image: linear-gradient(to right, #635dc0, #3027ae);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner>h1 {
    margin: 5vmax;
    font: 600 2.5vmax var(--font-family);
}

.banner>p {
    font: 300 1.4vmax "Lucida Sans";
    /* font: 300 1.4vmax var(--font-family); */
}

.banner>a>button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    font: 500 1vmax var(--font-family);
}

.banner>a>button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: rgba(52, 152, 219, 0.8);
    position: absolute;
    top: 0%;
    left: 0;
    /* this code generating to clip path css */
    clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
    max-width: 100%;
}

/* Feature Product Style */
.homeHeading {
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.4vmax;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgb(0, 0, 0, 0.7);
}

/* Product Grouping Style */
.container {
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

/* Product Style */
.productCard {
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    background-color: #eaf1f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.productCard>img {
    width: 14vmax;
}

.productCard>div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
}

.productCard>div>span {
    margin: 0.5vmax;
    font: 300 0.7vmax var(--font-family);
}

.productCard>p {
    font-family: var(--font-family);
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}

/* Price */
.productCard>span {
    margin: 0.5vmax;
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}

/* Make it responsive */
@media screen and (max-width: 600px) {
    .productCard>p {
        font-size: 1.7vmax;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax var(--font-family);
    }
}